.cont{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #219ebc;
    color: #219ebc;
    width: 200px;
    align-items: center;
    border-radius: 8px;
}
.cont p{
    margin: 0;
}
.cont:hover{
    color: white;
    background-color: #219ebc;
}
.cont-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.cont i{
    user-select: none;
    cursor: pointer;
}