<nav>
    <div class="main-menu">
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/products">Products</a></li>
            <li><a routerLink="/categories">Categories</a></li>
            <li><a routerLink="/products/add">Add new product</a></li>
            <li><a routerLink="/categories/add">Add new category</a></li>
        </ul>
    </div>
    <div class="auth-cont">
        <ul>
            <li><a routerLink="/login">Log in</a></li>
            <li><a routerLink="/signup">Sign up</a></li>
        </ul>
    </div>
</nav>